<div class="card card-body content pl-2">
    <div class="row">
        <div class="row d-flex">
            <div class="col-md-1"></div>
            <div class="form-group col-md-8">
                <input type="text" class="form-control text-center " placeholder="search">
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary  btn-fill ">Add Course</button>
            </div>
        </div>
        <table class="table table-stripped table-hover  text-center">
            <thead class="text-center">
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Course Code</th>
                    <th class="text-center">Course Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
                    <td></td>
                    <td>BSIT</td>
                    <td>Bachelor of Science in Information Technology</td>
                    <td>
                        <button class="btn btn-warning btn-sm ">Edit</button> &nbsp;
                        <button class="btn btn-danger btn-sm btn-fill">Remove</button> &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>